@charset "UTF-8";
#add1  {
	position: absolute;
	top: 32%;
	left: 32%;
	font-size:20px;
	color:white;
	font-weight:  bold;


}
#add2  {
	position: absolute;
	top: 41%;
	left: 32%;
	font-size:20px;
	color:white;
	font-weight:  bold;

}
#add3  {
	position: absolute;
	top: 41%;
	left: 50%;
	font-size:20px;
	color:white;
	font-weight:  bold;
}
#add4  {
	position: absolute;
	top: 79%;
	left: 72%;
	font-size:20px;
	color:white;
	 font-weight:  bold;

}
#add5{
	position: absolute;
	top: 55%;
	left: 32%;
	font-size:32px;
	color:white;
	 font-weight:  bold;

}
#add6{
	position: absolute;
	top: 48%;
	left: 32%;
	font-size:32px;
	color:white;
	font-weight:  bold;
}
#add7{
	position: absolute;
	top: 32%;
	left: 57%;
	font-size:20px;
	color:white;
	 font-weight:  bold;
}
#main{
	position: absolute;
	top: 81%;
	left: 82%;
	font-size:20px;
	font-weight:  bold;
	color:white;
}


#text {
	position: absolute;
	top: 48.7%;
	left: 40%;
	font-size:20px;

}
#message{
	position: absolute;
	top: 26%;
	left: 32%;
	color:white;
	font-weight:  bold;
}

#textarea {
	position: absolute;
	top: 60%;
	left: 32%;
	font-size:20px;

}
p {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 700;

}

p span {
  display: inline-block;
  position: relative;
  transform-style: preserve8d;
  perspective: 500px;
  -webkit-font-smoothing: antialiased;
}

p span::before,
p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  transform-origin: left top;
  transition: all ease-out .3s;
  content: attr(data-text);
}

p span::before {
  z-index: 1;
  color: rgba(0,0,0,0.2);
  transform: scale(1.1,1) skew(5deg,5deg);

}

p span::after {
  z-index:4;
  color: #3498db;
  text-shadow: -1px 0 1px #3498db,
                1px 0 1px #fff;
  transform: rotateY(-40deg);
}

p span:hover::before { transform: scale(1.1,1) skew(0deg,20deg); }

p span:hover::after { transform: rotateY(10deg); }

p span + span { margin-left: .3em; }

@media (min-width: 20em) {
  p { font-size: 2em; }

  p span::before,
  p span::after {
    display: block;
  }
}

@media (min-width: 10em) {
  p { font-size: 3em; }
}

@media (min-width: 40em) {
  p { font-size: 5em; }
}

@media (min-width: 100em) {
  p { font-size: 8em; }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {

  display: flex;
  /*align-items: center;*/
  justify-content: center;
  background-color: #3498db;
}
.button {
	display: inline-block;
	border-radius: 7%; /* 角丸       */
	font-size: 22pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 5px 5px; /* 余白       */
	background: #3498db; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 12px #666666; /* 影の設定 */
	border: 2px solid #ffffff; /* 枠の指定 */
}

.button:hover {
	color: #3498db; /* 背景色     */
	background: #ffffff; /* 文字色     */
}
