@charset "UTF-8";
table{
	background-color:white;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, 0%);
	width:200px;
	text-align: center;
	border-color:white;
	font-family:'arial black';
}
#main{
	position: absolute;
	top:430px;
	left:880px;
	color:white;
}
#name{
	position: absolute;
	top:13%;
	left:38%;
	color:white;
	font-weight:  bold;
	font-size:48px;
}
#addCategory{
	display: inline-block;
	_display: inline;
	position: absolute;
	top:190px;
	left:600px;
	z-index:10000;
}
body {
  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0;
  background-color: skyblue;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}



.button {
	display: inline-block;
	border-radius: 7%; /* 角丸       */
	font-size: 14pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 5px 5px; /* 余白       */
	background: #3498db; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */

	border: 2px solid #ffffff; /* 枠の指定 */
}

.button:hover {
	color: #3498db; /* 背景色     */
	background: #ffffff; /* 文字色     */
}
