@charset "UTF-8";

body{
	background:#2ECCFA;
}

#sunshine {
  position: absolute;
  top: -300px;
  left: 90%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 500px 100px #fff,
    0 0 700px 350px #F7D358,
    0 0 850px 500px #F4FA58;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 1%;
  width: 300px;
  right: 20%;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

#chart_div{
	position: absolute;
	top: 20%;
	left: 38%;
}

#fillout1  {
	position: absolute;
	top: 11.5%;
	left: 14%;
	font-size:26px;
	font-weight:  bold;

}

#message{
	position: absolute;
	top: 12.5%;
	left: 40%;
	color:red;
	font-weight:  bold;
}

#disp  {
	position: absolute;
	top: 11%;
	left: 35%;
	font-size:26px;
	font-weight:  bold;

}

#fillout5  {
	position: absolute;
	top: 62%;
	left: 30%;
	font-size:24px;
	font-weight:  bold;

}
#fillout6  {
	position: absolute;
	top: 66%;
	left:18%;
	font-size:20px;
	font-weight:  bold;
	color:white;
}
#fillout7 {
	position: absolute;
	top: 62%;
	left: 62%;
	font-size:24px;
	font-weight:  bold;

}
#fillout8{
	position: absolute;
	top: 66%;
	left: 50%;
	font-size:20px;
	font-weight:  bold;
	color:white;
}
#fillout9{
	position: absolute;
	top: 15%;
	left: 80%;
	font-size:20px;
	font-weight:  bold;

}
#fillout10{
	position: absolute;
	top: 20%;
	left: 72%;
	font-size:20px;
	font-weight:  bold;

}

.contents{
	background:white;
	width:450px;
	height:200px;
}

table{
	background:white;
	color:black;
	width:300px;
}