@charset "UTF-8";
#fillout1  {
	position: absolute;
	top: 11.5%;
	left: 34%;
	font-size:26px;
	font-weight:  bold;
	color:white;
}

#fillout4  {
	position: absolute;
	top: 12%;
	left: 46%;
	font-size:26px;
	font-weight:  bold;
	color:white;
}
#fillout5  {
	position: absolute;
	top: 62%;
	left: 30%;
	font-size:24px;
	font-weight:  bold;
	color:white;
}
#fillout6  {
	position: absolute;
	top: 66%;
	left:18%;
	font-size:20px;
	font-weight:  bold;
	color:white;
}
#fillout7 {
	position: absolute;
	top: 62%;
	left: 62%;
	font-size:24px;
	font-weight:  bold;
	color:white;
}
#fillout8{
	position: absolute;
	top: 66%;
	left: 50%;
	font-size:20px;
	font-weight:  bold;
	color:white;
}
#fillout9{
	position: absolute;
	top: 86%;
	left: 84%;
	font-size:20px;
	font-weight:  bold;
	color:white;
}
#fillout10 {
	position: absolute;
	top: 12%;
	left: 56%;
	font-size:26px;

	font-weight:  bold;
	color:white;
}
#message {
	position: absolute;
	top: 12%;
	left: 58%;
	font-size:26px;

	font-weight:  bold;
	color:white;
}

#fillout11{
	position: absolute;
	top: 22%;
	left: 25%;
	font-size:20px;
	font-weight:  bold;
	color:white;
}
#main{
	position: absolute;
	top: 86%;
	left: 88%;
	font-size:20px;
	font-weight:  bold;
	color:white;
}
#per{
	position: absolute;
	top:17%;
	left: 78%;
	font-size:20px;
	color:white;

}
#message{
	position: absolute;
	top:13%;
	left: 60%;
	color:white;
	font-weight:  bold;
	font-size:18px;
}
table {
width: 650px;
height: 40px;
border: 2px white solid;
}
body{
	background-color:#3498db;
}