@charset "UTF-8";

#category{
	display: inline-block;
	_display: inline;
	margin:auto;
	position: absolute;
	left: 300px;
}

.category_button{
	display: inline-block;
	_display: inline;
}

#addCategory{
	display: inline-block;
	_display: inline;
	position: absolute;
	top:40px;
	left:300px
}
#deleteCategory{
	display: inline-block;
	_display: inline;
	position: absolute;
	top:40px;
	left:600px
}

#login{
	position: absolute;
	left: 1035px;
}

#logout{
	position: absolute;
	top:35px;
	left:1150px;
}

#week{
	position: absolute;
	top: 70px;
	left: 300px;
}

#headline{
	position: absolute;
	top:140px;
	left: 320px;
}

.hr{
	color:white;
}

.hr:hover{
	color:red;
}

#table{
	background:white;
	color:black;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, 0%);
	width:900px;
}

th{
	width:150px;
}

#button1{
	position: absolute;
	top: 150px;
	left: 669px;
}

#button2{
	position: absolute;
	top: 150px;
	left: 852px;
}

#button3{
	position: absolute;
	top: 150px;
	left: 1035px;
}

.buttons1{
	height:50px;
	width:180px;
}

.buttons2{
	width:150px;
}

body{
  background:#00BFFF;
  overflow: hidden;
  color:white;
}

.rains{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
}

/*widthは雨の太さ、heightは長さ*/
.rains span{
  position: absolute;
  width:1.5px;
  height:180px;
  background:#FFF;
  opacity:0.4;
}



 /*雨の初期位置とアニメーション指定、leftはx座標での基準位置、topは開始位置、アニメーション時間は揺らぎ*/
.rains span:nth-child(1){left:5%; top:-190px; animation: rain-anim 10s infinite;}
.rains span:nth-child(2){left:10%; top:-180px; animation: rain-anim 11s infinite;}
.rains span:nth-child(3){left:15%; top:-170px; animation: rain-anim 8s infinite;}
.rains span:nth-child(4){left:20%; top:-160px; animation: rain-anim 12s infinite;}
.rains span:nth-child(5){left:25%; top:-150px; animation: rain-anim 10s infinite;}

.rains span:nth-child(6){left:30%; top:-150px; animation: rain-anim 11s infinite;}
.rains span:nth-child(7){left:35%; top:-160px; animation: rain-anim 13s infinite;}
.rains span:nth-child(8){left:40%; top:-170px; animation: rain-anim 7s infinite;}
.rains span:nth-child(9){left:45%; top:-180px; animation: rain-anim 9s infinite;}
.rains span:nth-child(10){left:50%; top:-190px; animation: rain-anim 11s infinite;}

.rains span:nth-child(11){left:55%; top:-190px; animation: rain-anim 10s infinite;}
.rains span:nth-child(12){left:60%; top:-180px; animation: rain-anim 6s infinite;}
.rains span:nth-child(13){left:65%; top:-170px; animation: rain-anim 14s infinite;}
.rains span:nth-child(14){left:70%; top:-160px; animation: rain-anim 12s infinite;}
.rains span:nth-child(15){left:75%; top:-150px; animation: rain-anim 10s infinite;}

.rains span:nth-child(16){left:80%; top:-150px; animation: rain-anim 14s infinite;}
.rains span:nth-child(17){left:85%; top:-160px; animation: rain-anim 8s infinite;}
.rains span:nth-child(18){left:90%; top:-170px; animation: rain-anim 9s infinite;}
.rains span:nth-child(19){left:95%; top:-180px; animation: rain-anim 11s infinite;}
.rains span:nth-child(20){left:100%; top:-190px; animation: rain-anim9 13s infinite;}

/*アニメーションキーフレーム
一度落下したら次はキーフレーム1%の間に高さを戻して左右にずらして降らす*/
@keyframes rain-anim {

  0% { transform: translate(0px,0px);}
  4% { transform: translate(0px,700px);}

  5% { transform: translate(200px,0px);}
  9% { transform: translate(200px,700px);}

  10% { transform: translate(-100px,0px);}
  14% { transform: translate(-100px,700px);}

  15% { transform: translate(-200px,0px);}
  19% { transform: translate(-200px,700px);}

  20% { transform: translate(100px,0px);}
  24% { transform: translate(100px,700px);}

  25% { transform: translate(-150px,0px);}
  29% { transform: translate(-150px,700px);}

  30% { transform: translate(-80px,0px);}
  34% { transform: translate(-80px,700px);}

  35% { transform: translate(150px,0px);}
  39% { transform: translate(150px,700px);}

  40% { transform: translate(-60px,0px);}
  44% { transform: translate(-60px,700px);}

  45% { transform: translate(90px,0px);}
  49% { transform: translate(90px,700px);}

  50% { transform: translate(60px,0px);}
  54% { transform: translate(60px,700px);}

  55% { transform: translate(-60px,0px);}
  59% { transform: translate(-60px,700px);}

  60% { transform: translate(-40px,0px);}
  64% { transform: translate(-40px,700px);}

  65% { transform: translate(40px,0px);}
  69% { transform: translate(40px,700px);}

  70% { transform: translate(-20px,0px);}
  74% { transform: translate(-20px,700px);}

  75% { transform: translate(-110px,0px);}
  79% { transform: translate(-110px,700px);}

  80% { transform: translate(20px,0px);}
  84% { transform: translate(20px,700px);}

  85% { transform: translate(-20px,0px);}
  89% { transform: translate(-20px,700px);}

  90% { transform: translate(50px,0px);}
  99% { transform: translate(50px,700px);}

  100% { transform: translate(0px,0px);}

}