@charset "UTF-8";

#category{
	display: inline-block;
	_display: inline;
	margin:auto;
	position: absolute;
	left: 300px;
}

#login{
	position: absolute;
	left: 1102px;
}

#logout{
	position: absolute;
	top:35px;
	left:1150px;
}

#week{
	position: absolute;
	top: 35px;
	left: 300px;
}

#headline{
	position: absolute;
	top:140px;
	left: 320px;
}

#table{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, 0%);
	width:900px;
}

th{
	width:150px;
}

#buttons{
	position: absolute;
	top: 150px;
	left: 852px;
}

.button1{
	height:50px;
	width:180px;
}

.button2{
	width:150px;
}