@charset "UTF-8";

#category{
	display: inline-block;
	_display: inline;
	margin:auto;
	position: absolute;
	left: 150px;
	z-index:10000;
}

.category_button{
	display: inline-block;
	_display: inline;
	z-index:10000;
}
#message{
	position: absolute;
	top: 27%;
	left: 25%;
	color:white;
	font-weight:  bold;
}
#RealtimeClockArea2{
	position: absolute;
	top: 0%;
	left: 63%;
	color:white;
	font-weight:  bold;
}


#deleteCategory{
	display: inline-block;
	_display: inline;
	position: absolute;
	top:40px;
	left:150px;
	z-index:10000;
}

#login{
	position: absolute;
	right: 145px;


}

#logout{
	position: absolute;
	top:35px;
	left:1300px;
	z-index:10000;

}

#week{
	position: absolute;
	top: 70px;
	left: 150px;
	z-index:10000;

}
.ymd{
	text-align:center;
}
.jikan{
	text-align:center;
}
.importance{
	text-align:center;
}

#headline{
	position: absolute;
	top:170px;
	left: 180px;
	z-index:10000;
}

.hr{
	color:white;
	z-index:10000;
	text-decoration: none;
}

.hr:hover{
	color:red;
}


table{
	background:white;
}


.table{
	background:white;
	color:black;
	position: absolute;
	top: 30%;
	left: 43%;
	transform: translate(-50%, 0%);
	width:1000px;
	z-index:10000;
}

#table1{
	background:#00BFFF;
	color:black;
	position: absolute;
	top: 37.5%;
	left: 43.65%;
	transform: translate(-50%, 0%);
	height:251px;
	width:1020px;
	z-index:10000;
	overflow: auto;
}

.href{
	text-decoration: none;
}

.th1{
	height:50px;
	width:200px;
}

.th2{
	height:50px;
	width:100px;
}

.th3{
	height:50px;
	width:300px;
}

.th4{
	height:50px;
	width:120px;
}

.td1{
	height:30px;
	width:155.5px;
}

.td2{
	height:30px;
	width:80px;
}

.td3{
	height:30px;
	width:230.5px;
}

.td4{
	height:30px;
	width:99.5px;
}
.td5{
	height:30px;
	width:155.5px;
}
.td6{
	height:30px;
	width:156px;
}

#button1{
	position: absolute;
	top: 180px;
	left: 440px;
	z-index:10000;
}

#button2{
	position: absolute;
	top: 180px;
	left: 625px;
	z-index:10000;
}

#button3{
	position: absolute;
	top: 180px;
	left: 810px;
	z-index:10000;
}

.buttons1{
	height:50px;
	width:180px;
}

.buttons2{
	width:80px;
}


body{
  background:#00BFFF;
  overflow: hidden;
  color:white;
}

#dish{
	border-radius: 50%;
	width:1500px;
	height:150px;
	background:#00FFFF;
	margin:auto;
	position: absolute;
	top:550px;
	left:20px;
}

.img1{
	width: 300px;
  	height:360px;

}

.img2{
	width: 310px;
  	height:450px;
}

#frog{
	position: absolute;
	top: 360px;
	left: -50px;
	z-index:8000;
}

#girl{
	position: absolute;
	top: 190px;
	left: 1200px;
	z-index:8000;
}

.rains{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  z-index:5000;
}

/*widthは雨の太さ、heightは長さ*/
.rains span{
  position: absolute;
  width:1.5px;
  height:180px;
  background:#FFF;
  opacity:0.4;
}
.wrapper{
	position:relative;
	top:58px;
	left:140px;
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
  position: relative;
  left:405px;
  top:-33px;
  font-size:20px;

    }

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
.table1 {
	position:  absolute;
    outline: 2px solid #ddd;
    border-collapse: collapse;
    background-color:white;
    left:65%;
    top:11%;
}
.thcalender {
    color: #000;
}
.thcalender disabled today{
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜日*/
.day:first-child {
    color: red;
}
/*土曜日*/
.day:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}

/*ボタン*/

#next-prev-button button{
	position:absolute;
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.1rem 0.6rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;

}
#prev {
	 position: relative;
     left:370px;
     top:-45px;
    float: left;
    z-index:10000;

}
#next {
	position: relative;
     left:530px;
     top:-45px;
    float: right;
     z-index:10000;
}



 /*雨の初期位置とアニメーション指定、leftはx座標での基準位置、topは開始位置、アニメーション時間は揺らぎ*/
.rains span:nth-child(1){left:5%; top:-190px; animation: rain-anim 10s infinite;}
.rains span:nth-child(2){left:10%; top:-180px; animation: rain-anim 11s infinite;}
.rains span:nth-child(3){left:15%; top:-170px; animation: rain-anim 8s infinite;}
.rains span:nth-child(4){left:20%; top:-160px; animation: rain-anim 12s infinite;}
.rains span:nth-child(5){left:25%; top:-150px; animation: rain-anim 10s infinite;}

.rains span:nth-child(6){left:30%; top:-150px; animation: rain-anim 11s infinite;}
.rains span:nth-child(7){left:35%; top:-160px; animation: rain-anim 13s infinite;}
.rains span:nth-child(8){left:40%; top:-170px; animation: rain-anim 7s infinite;}
.rains span:nth-child(9){left:45%; top:-180px; animation: rain-anim 9s infinite;}
.rains span:nth-child(10){left:50%; top:-190px; animation: rain-anim 11s infinite;}

.rains span:nth-child(11){left:55%; top:-190px; animation: rain-anim 10s infinite;}
.rains span:nth-child(12){left:60%; top:-180px; animation: rain-anim 6s infinite;}
.rains span:nth-child(13){left:65%; top:-170px; animation: rain-anim 14s infinite;}
.rains span:nth-child(14){left:70%; top:-160px; animation: rain-anim 12s infinite;}
.rains span:nth-child(15){left:75%; top:-150px; animation: rain-anim 10s infinite;}

.rains span:nth-child(16){left:80%; top:-150px; animation: rain-anim 14s infinite;}
.rains span:nth-child(17){left:85%; top:-160px; animation: rain-anim 8s infinite;}
.rains span:nth-child(18){left:90%; top:-170px; animation: rain-anim 9s infinite;}
.rains span:nth-child(19){left:95%; top:-180px; animation: rain-anim 11s infinite;}
.rains span:nth-child(20){left:100%; top:-190px; animation: rain-anim9 13s infinite;}

/*アニメーションキーフレーム
一度落下したら次はキーフレーム1%の間に高さを戻して左右にずらして降らす*/
@keyframes rain-anim {

  0% { transform: translate(0px,0px);}
  4% { transform: translate(0px,700px);}

  5% { transform: translate(200px,0px);}
  9% { transform: translate(200px,700px);}

  10% { transform: translate(-100px,0px);}
  14% { transform: translate(-100px,700px);}

  15% { transform: translate(-200px,0px);}
  19% { transform: translate(-200px,700px);}

  20% { transform: translate(100px,0px);}
  24% { transform: translate(100px,700px);}

  25% { transform: translate(-150px,0px);}
  29% { transform: translate(-150px,700px);}

  30% { transform: translate(-80px,0px);}
  34% { transform: translate(-80px,700px);}

  35% { transform: translate(150px,0px);}
  39% { transform: translate(150px,700px);}

  40% { transform: translate(-60px,0px);}
  44% { transform: translate(-60px,700px);}

  45% { transform: translate(90px,0px);}
  49% { transform: translate(90px,700px);}

  50% { transform: translate(60px,0px);}
  54% { transform: translate(60px,700px);}

  55% { transform: translate(-60px,0px);}
  59% { transform: translate(-60px,700px);}

  60% { transform: translate(-40px,0px);}
  64% { transform: translate(-40px,700px);}

  65% { transform: translate(40px,0px);}
  69% { transform: translate(40px,700px);}

  70% { transform: translate(-20px,0px);}
  74% { transform: translate(-20px,700px);}

  75% { transform: translate(-110px,0px);}
  79% { transform: translate(-110px,700px);}

  80% { transform: translate(20px,0px);}
  84% { transform: translate(20px,700px);}

  85% { transform: translate(-20px,0px);}
  89% { transform: translate(-20px,700px);}

  90% { transform: translate(50px,0px);}
  99% { transform: translate(50px,700px);}

  100% { transform: translate(0px,0px);}

}

