@charset "UTF-8";

html {
	height: 100%;
}

body {
	margin: 0;

}

.bg {
	animation: slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #0040FF 50%, #09f 50%);
	bottom: 0;
	left: -50%;
	opacity: .5;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: -1;
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.bg3 {
	animation-duration: 5s;
}



div.drop-container {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 43.5%;
  height: 200px;
  width: 200px;
}


div.drop {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  border:solid;
  border-color:white;
  border-radius: 100% 5% 100% 100%;
  transform: rotate(-45deg);
  margin: 0px;
  background: #00BFFF;
  animation: drip 4s forwards;
}

h1 {
  color: white;
  position: absolute;
  font-size: 2.5em;
  height: 1em;
  top: 85px; left: 0; right: 0; bottom: 0;
  z-index: 2;

  text-align: center;
  opacity: 0;
  animation: appear 2s 2.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.drop-container:before,
div.drop-container:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -30%;
  right: 50%;
  transform: translate(50%) rotateX(75deg);
  border-radius: 100%;
  opacity: 0;
  width: 75%;
  height: 75%;
  border: 5px solid #81F7F3;
  animation: dripple 2s ease-out 1s;
}

div.drop-container:after {
  animation: dripple 2s ease-out 1.7s;
}

@keyframes drip {
  45% {
    top: 0;
    border-radius: 100% 5% 100% 100%;
    transform: rotate(-45deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
    border-radius: 100%;
  }
}

@keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}

@keyframes slide { 0% {transform: translateX(-25%);}100%{transform:translateX(25%);}}


#top1 {
	left: 50%;
	padding: 5vmin;
	position: fixed;
	text-align: center;
	top: 70%;
	transform: translate(-50%, -50%);
}

#top2 {
	left: 50%;
	padding: 5vmin;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.button {
	display: inline-block;
	border-radius: 44%; /* 角丸       */
	font-size: 22pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 0.2px 4px; /* 余白       */
	background: #ff0000; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 12px #666666; /* 影の設定 */
	border: 2px solid #ff0000; /* 枠の指定 */
}

.button:hover {
	color: #ff0000; /* 背景色     */
	background: #ffffff; /* 文字色     */
}