@charset "UTF-8";

html {
	height: 100%;
}

body {
	margin: 0;
}

.bg {
	animation: slide 3s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
	bottom: 0;
	left: -50%;
	opacity: .5;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: -1;
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s;
}

.bg3 {
	animation-duration: 5s;
}

h1 {
	font-family: 'Potta One', cursive;
	font-size:80px;
	color:white;
	left: 50%;
	padding: 5vmin;
	position: fixed;
	text-align: center;
	top: 10%;
	transform: translate(-50%, -50%);
}

@keyframes slide { 0% {transform: translateX(-25%);}100%{transform:translateX(25%);}}
#top1 {
	left: 50%;
	padding: 5vmin;
	position: fixed;
	text-align: center;
	top: 70%;
	transform: translate(-50%, -50%);
}

#top2 {
	left: 50%;
	padding: 5vmin;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.button {
	display: inline-block;
	border-radius: 44%; /* 角丸       */
	font-size: 22pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 0.2px 4px; /* 余白       */
	background: #ff0000; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 6px 6px 12px #666666; /* 影の設定 */
	border: 2px solid #ff0000; /* 枠の指定 */
}

.button:hover {
	color: #ff0000; /* 背景色     */
	background: #ffffff; /* 文字色     */
}