<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="add_update.css" rel="stylesheet">
</head>
<body>
    <h2><a href="mainreturn"></a></h2>
	<form action="/add" method="post">
		<a id="date">期限:<input type="date" name="ymd" max="9999-12-31"></a>
		<a id="time">時間：<input type="time" name="jikan" min="00:00" max="24:00"></a>
		<a id="category">カテゴリー:
		<select name="category">
				<option th:each="category:${session.category}" th:text="${category.name}"></option>
		</select>
		</a> <br> <a id="importance">重要度：
		<select name="importance">
				<option>高</option>
				<option>中</option>
				<option>低</option>
		</select>
		</a>
		<a id="schedule">予定：</a>
		<div id="text">
			<input type="text" name="name">
		</div>
		<a id="message" th:text="${message}"></a>
		<a id="detail">詳細内容</a>
		<div id="textarea">
			<textarea name="contents" cols="60" rows="15"></textarea>
		</div>
		<br> <a id="submit"><input type="submit" class="button" value="追加"></a>
	</form>
<h1 id="title">予定の追加</h1>
</body>
</html>