<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
</head>
<body>
<table border="1">
			<tr>
				<th>予定</th>
				<th>時間</th>
				<th>重要度</th>
				<th>詳細</th>
				<th>削除</th>
			</tr>
			<tr th:each="schedule:${schedule}">
				<td th:text="${schedule.name}"></td>
				<td th:text="${schedule.jikan}"></td>
				<td th:text="${schedule.importance}"></td>
				<td th:text="${schedule.contents}"></td>
				<td><input class="buttons2" type="submit" value="削除"></td>
			</tr>
		</table>
</body>
</html>