<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="deleteCategory.css" rel="stylesheet">
</head>
<body>


<table border="1">
			<tr>
				<th>No</th>
				<th>カテゴリ名</th>
				<th>削除</th>
			</tr>
			<tr th:each="category:${list}">
			<td th:text="${category.code}"></td>
			<td th:text="${category.name}"></td>
				<td>
				<form action="deleteCatego" method="post">
				<input class="button" type="submit" value="削除">
				<input type="hidden" name="code" th:value="${category.code}">
				</form>
				</td>
			</tr>
		</table>
		<div id="addCategory">
		<form action="/addCategory" method="get">
		<input type="text" name="addCategory" placeholder="カテゴリーを入力してください">
		<input  type="submit" value="カテゴリーの追加">
		</form>
		</div>
		<a id="main" href="mainreturn">メインページへ</a>
		<h1 id="name">カテゴリー削除</h1>
		<a id="message" th:text="${message}"></a>
</body>
</html>