<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="deleteCategory.css" rel="stylesheet">
</head>
<body>


<table border="1">
			<tr>
				<th>No</th>
				<th>カテゴリ名</th>
				<th>削除</th>
			</tr>
			<tr th:each="category:${list}">
			<td th:text="${category.code}"></td>
			<td th:text="${category.name}"></td>
				<td>
				<form action="deleteCatego" method="post">
				<input class="button" type="submit" value="削除">
				<input type="hidden" name="code" th:value="${category.code}">
				</form>
				</td>
			</tr>
		</table>
		<a id="main" href="mainreturn">メインページへ</a>
		<p aria-label="CodePen">
  <span data-text="カ">カ</span>
  <span data-text="テ">テ</span>
  <span data-text="ゴ">ゴ</span>
  <span data-text="リ">リ</span>
  <span data-text="ー">ー</span>
  <span data-text="削">削</span>
  <span data-text="除">除</span>

</p>

</body>
</html>