<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="fillout.css" rel="stylesheet">
</head>
<body>
<a id="fillout1">
<select>
<option></option>
</select>
年
</a>r
<a id="fillout2">
<select >
<option></option>
</select>
月
</a>
<a id="fillout3">
<select >
<option></option>
</select>
日
</a>
<a id="fillout4">の自己評価</a>
<a id="fillout10"><input type="submit" value="表示"></a>
<table border="1" id="fillout11">
<tr>
<th>予定</th><th>時間</th><th>詳細</th><th>カテゴリー</th><th>達成/未達成</th>
</tr>
<tr th:each="fill:${list}">
	<td th:text="${fill.name}"></td>
	<td th:text="${fill.jikan}"></td>
	<td th:text="${fill.contents}"></td>
	<td th:text="${fill.category_code}"></td>
	<td>
	<input type="radio" name="importance" value="YES">達成
	<input type="radio" name="importance" value="NO">未達成
	</td>
</table>
<a id="fillout5">反省点</a>
<div id="fillout6">
<textarea name="contents" cols="60" rows="15"></textarea>
</div>
<a id="fillout7">改善点</a>
<div id="fillout8">
<textarea name="contents" cols="60" rows="15"></textarea>
</div>
<a id="fillout9"><input type="submit" value="登録"></a>
</body>
</html>