<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="fillout.css" rel="stylesheet">
</head>
<script type="text/javascript">
    //今日の日時を表示
        window.onload = function () {
            //今日の日時を表示
            var date = new Date()
            var year = date.getFullYear()
            var month = date.getMonth() + 1
            var day = date.getDate()

            var toTwoDigits = function (num, digit) {
              num += ''
              if (num.length < digit) {
                num = '0' + num
              }
              return num
            }

            var yyyy = toTwoDigits(year, 4)
            var mm = toTwoDigits(month, 2)
            var dd = toTwoDigits(day, 2)
            var ymd = yyyy + "-" + mm + "-" + dd;

            document.getElementById("today").value = ymd;
        }
</script>
<body>
<form action="fillmain">
<a id="fillout1">
<input type="date" name="ymd" max="9999-12-31" id="today">
</a>
<a id="fillout4">の自己評価</a>
<a id="fillout10"><input type="submit" value="表示"></a>
</form>
<table border="1" id="fillout11">
<tr>
<th>予定</th><th>時間</th><th>詳細</th>
</tr>
</table>
<a id="message" th:text="${message}"></a>
<a id="main" href="mainreturn">メインページへ</a>
</body>
</html>