<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="fillout.css" rel="stylesheet">
</head>
<body>
<form action="fillmain">
<a id="fillout1">
<input type="date" name="ymd" max="9999-12-31"th:value="${ymd}" >
</a>
<a id="fillout4">の自己評価</a>
<a id="fillout10"><input type="submit" value="表示"></a>
</form>
<table border="1" id="fillout11">
<tr>
<th>予定</th><th>時間</th><th>詳細</th>
</tr>
<tr th:each="schedule:${schedule}">
	<td th:text="${schedule.name}"></td>
	<td th:text="${schedule.jikan}"></td>
	<td th:text="${schedule.contents}"></td>
	</tr>
</table>
<form action="fillo" method="post">
<input type="hidden" name="ymd" th:value="${ymd}">
<div id="per">
<a>達成数</a><br>
<input type="text" name="achieved"><br>
<a>未達成数</a><br>
<input type="text" name="notachieved">
</div>
<a id="fillout5">反省点</a>
<div id="fillout6">
<textarea name="reflection" cols="60" rows="15"></textarea>
</div>
<a id="fillout7">改善点</a>
<div id="fillout8">
<textarea name="improvement" cols="60" rows="15"></textarea>
</div>

<a id="fillout9"><input type="submit" value="登録"></a>
</form>
<a id="message" th:text="${message}"></a>
<a id="main" href="mainreturn">メインページへ</a>
</body>
</html>