<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="fillout.css" rel="stylesheet">
</head>
<body>
<form action="fillmain">
<a id="date">
<input type="date" name="ymd" max="9999-12-31">
</a>
<a id="txt1">の自己評価</a>
<a id="submit1"><input type="submit" value="表示"></a>
</form>
<table border="1" id="fillout11">
<tr>
<th>予定</th><th>時間</th><th>詳細</th>
</tr>
</table>
<a id="message" th:text="${message}"></a>
<a id="main" href="mainreturn">メインページへ</a>
</body>
</html>