<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
</head>
<link href="main.css" rel="stylesheet">
<body>

  	<div class="rains">
    	<span></span><span></span><span></span><span></span><span></span>
    	<span></span><span></span><span></span><span></span><span></span>
    	<span></span><span></span><span></span><span></span><span></span>
    	<span></span><span></span><span></span><span></span><span></span>
   	</div>
   	<div id="frog"><img src="/frog.png" class="img1"></div>
   	<div id="girl"><img src="/girl.png" class="img2"></div>
	<form action="/search" method="get">
		<div id="category">
			<a>カテゴリー検索</a>
			<div th:each="category:${session.category}" class="category_button">
				<input type="submit" th:value="${category.name}" name="categoryname">
			</div>
		</div>
	</form>
	<div id="addCategory">
		<form action="/addCategory" method="get">
		<input type="text" name="addCategory" placeholder="カテゴリーを入力してください">
		<input  type="submit" value="カテゴリーの追加">
		</form>
	</div>
	<div id="deleteCategory">
	<form action="/deleteCate">
	<input  type="submit" value="カテゴリーの削除">
	</form>
	</div>
	<div id="login">
		<a th:text="'（'+${session.userInfo.id}+' さんがログイン中）'"></a>
	</div>
	<div id="logout">
		<a href="/logout" class="hr">ログアウト</a>
	</div>
	<a id="message" th:text="${message}"></a>
	<p id="RealtimeClockArea2"></p>
	<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	function set2fig(num) {
   // 桁数が1桁だったら先頭に0を加えて2桁に調整する
   var ret;
   if( num < 10 ) { ret = "0" + num; }
   else { ret = num; }
   return ret;
}
function showClock2() {
   var nowTime = new Date();
   var nowFullYear = set2fig(nowTime.getFullYear());
   var nowMonth = set2fig(nowTime.getMonth() + 1);
   var nowDate = set2fig(nowTime.getDate());
   var nowHour = set2fig( nowTime.getHours() );
   var nowMin  = set2fig( nowTime.getMinutes() );
   var nowSec  = set2fig( nowTime.getSeconds() );
   var msg = nowFullYear + "年"+ nowMonth + "月" + nowDate + "日" +  nowHour + ":" + nowMin + ":" + nowSec  ;
   document.getElementById("RealtimeClockArea2").innerHTML = msg;
}
setInterval('showClock2()',1000);
/*]]>*/
</script>
	<div id="week">
		<a href="/today" class="hr">本日の予定</a><br>
		<a href="/tomorrow" class="hr">明日の予定</a><br>
		<a href="/week" class="hr">1週間の予定</a><br>
		<a href="/mainreturn" class="hr">すべての予定</a>
	</div>
	<div id="headline">
		<h1>予定表</h1>
	</div>
		<form action="/addsche" method="get"><input id="button1" class="buttons1" type="submit" value="予定の追加"></form>
		<form action="/fill" method="get"><input id="button2" class="buttons1" type="submit" value="評価の追加"></form>
		<form action="/ev" method="get"><input id="button3" class="buttons1" type="submit" value="自己評価ページ"></form>
	<div id="table">
		<table border="1">
			<tr>
				<th class="th1">予定</th>
				<th class="th1">年月日 <a href="/sortDescYmd" class="href">↓</a><a href="sortAscYmd" class="href">↑</a></th>
				<th class="th1">時間 <a href="/sortDescJikan" class="href">↓</a><a href="sortAscJikan" class="href">↑</a></th>
				<th class="th2">重要度<a href="/sortDescImportance" class="href">↓</a><a href="sortAscImportance" class="href">↑</a></th>
				<th class="th3">詳細</th>
				<th class="th2">変更</th>
				<th class="th2">削除</th>
			</tr>
			<tr th:each="schedule:${schedule}">
				<td th:text="${schedule.name}"></td>
				<td th:text="${schedule.ymd}"></td>
				<td th:text="${schedule.jikan}"></td>
				<td th:text="${schedule.importance}"></td>
				<td th:text="${schedule.contents}"></td>
				<td class=button2>
					<form action="update" method="post">
						<input class="buttons2" type="submit" value="変更">
						<input type="hidden" name="code" th:value="${schedule.code}">
					</form>
				</td>
				<td class=button2>
					<form action="delete" method="post">
						<input class="buttons2" type="submit" value="削除">
						<input type="hidden" name="code" th:value="${schedule.code}">
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div id="dish"></div>
</body>
</html>