<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link href="login.css" rel="stylesheet">
</head>
<link href="login.css" rel="stylesheet">
<body>
	<p id="id">ユーザID</p>
	<div id="idtxt">
		<input type="text" name="id">
	</div>
	<p id="pass">パスワード</p>
	<div id="passtxt">
		<input id="password" type="password" name="password">
	</div>
	<div id="passdisp">
		<input type="checkbox" id="password-check">パスワードを表示する
	</div>

	<script>
		const pwd = document.getElementById('password');
		const pwdCheck = document.getElementById('password-check');
		pwdCheck.addEventListener('change', function() {
			if (pwdCheck.checked) {
				pwd.setAttribute('type', 'text');
			} else {
				pwd.setAttribute('type', 'password');
			}
		}, false);
	</script>
	<br>
	<br>

	<div id="login">
		<input type="submit" value="登録">
	</div>
	<div class="bgground drop"></div>w
	<div class="bgground wave"></div>

</body>
</html>