<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Todolist</title>
<link href="top.css" rel="stylesheet">
</head>
<body>
    <h1>Tdolist</h1>
	<form action="/login" method="post">
		<a><input id="top1" type="submit" class="button" value="ログイン"></a><br>
	</form>
	<form action="/signup" method="post">
		<a><input id="top2" type="submit" class="button" value="新規登録"></a>
	</form>
	<div class="bg"></div>
	<div class="bg bg2"></div>
	<div class="bg bg3"></div>
</body>
</html>