<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="top.css" rel="stylesheet">
</head>
<body>
	<div class="background"></div>
	<div class="background background2"></div>
	<div class="background background3"></div>

	<h1>Todolist</h1>
	<div class="drop-container">
		<div class="drop"></div>
	</div>
	<form action="/login" method="post">
		<a><input type="submit" class="submit submit1" value="ログイン"></a><br>
	</form>
	<form action="/signup" method="post">
		<a><input type="submit" class="submit submit2" value="新規登録"></a>
	</form>

</body>
</html>