<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="addupdate.css" rel="stylesheet">
</head>
<body>
<form action="/updateSchedule">
<a id="add1">期限：<input type="date" name="ymd" max="9999-12-31" th:value="${schedule.ymd}"></a>
<a id="add7">時間：<input type="time" name="jikan" min="00:00" max="24:00" required th:value="${schedule.jikan}"></a>
<a id="add2">カテゴリー:
<select name="category">
<option th:each="category:${category}" th:text="${category.name}"></option>
</select>
</a>
<br>
<a id="add3">重要度：
<input type="radio" name="importance" value="高" th:checked="${schedule.importance}=='高'">高
<input type="radio" name="importance" value="中" th:checked="${schedule.importance}=='中'">中
<input type="radio" name="importance" value="低" th:checked="${schedule.importance}=='低'">低<br>
</a>

<a id=add6>予定：</a>
<div id="text">
<input type="text" name="name" th:value="${schedule.name}">
</div>

<a id="add5">詳細内容</a>
<div id="textarea">
<textarea name="contents" cols="60" rows="15" th:text="${schedule.contents}"></textarea>
</div>
<br>
<a id="add4"><input type="submit" class="button" value="変更"></a>
<input type="hidden" name="code" th:value="${schedule.code}">
<input type="hidden" name="usercode" th:value="${schedule.usercode}">
<input type="hidden" name="categorycode" th:value="${schedule.categorycode}">
</form>

<p aria-label="CodePen">
  <span data-text="U">U</span>
  <span data-text="p">p</span>
  <span data-text="D">D</span>
  <span data-text="a">a</span>
  <span data-text="t">t</span>
  <span data-text="e">e</span><br>
</p>
</body>
</html>