<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link href="addupdate.css" rel="stylesheet">
</head>
<body>
<form action="/updateSchedule">
<a id="add1">期限：<input type="date" name="ymd" max="9999-12-31" th:value="${schedule.ymd}"></a>
<a id="add7">時間：<input type="time" name="jikan" min="00:00" max="24:00" required th:value="${schedule.jikan}"></a>
<a id="add2">カテゴリー:
<select name="category">
<option th:each="category:${session.category}" th:text="${category.name}" th:selected="${category.code == schedule.categorycode}"></option>
</select>
</a>
<br>
<a id="add3">重要度：
	<select name="importance">
		<option th:selected="${schedule.importance}=='高'">高</option>
		<option th:selected="${schedule.importance}=='中'">中</option>
		<option th:selected="${schedule.importance}=='低'">低</option>
	</select>
</a>

<a id=add6>予定：</a>
<div id="text">
<input type="text" name="name" th:value="${schedule.name}">
</div>

<a id="add5">詳細内容</a>
<div id="textarea">
<textarea name="contents" cols="60" rows="15" th:text="${schedule.contents}"></textarea>
</div>
<a id="message" th:text="${message}"></a>
<br>
<a id="add4"><input type="submit" class="button" value="変更"></a>
<input type="hidden" name="code" th:value="${schedule.code}">
<input type="hidden" name="categorycode" th:value="${schedule.categorycode}">
</form>
<a id="main" href="mainreturn">メインページへ</a>
<p aria-label="CodePen">
  <span data-text="更">更</span>
  <span data-text="新">新</span>

</p>
</body>
</html>